[submodule "caret_analyze_cpp_impl/json"]
	path = CARET_analyze_cpp_impl/json
	url = https://github.com/nlohmann/json.git
[submodule "caret_analyze_cpp_impl/indicators"]
	path = CARET_analyze_cpp_impl/indicators
	url = https://github.com/p-ranav/indicators.git
